<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
    {{#each routes}}
    <li>
      <strong>
        {{method}}
          <code>{{path}}</code>
        </strong><br>
      </li>
    {{/each}}
    {{#each dtos}}
        <p>{{name}}</p>
        <div>
            {{properties}}
        </div>
    {{/each}}
  </ul>
</body>
</html>